<%- include('../partials/header', {title:'게시글 목록'}) %>
  <h1 class="mb-4">게시글 목록</h1>
  <div class="d-flex justify-content-between">
    <% if(sessionUser) { %>
      <a href="/posts/new" class="btn btn-primary mb-3">새 글 작성</a>
      <span class="me-2">로그인 됨 : <strong>
          <%= sessionUser.userId %>
        </strong></span>
      <a href="/users/logout" class="btn btn-danger mb-3">로그아웃</a>
      <% } else { %>
        <div>
          <a href="/users/login" class="btn btn-danger mb-3">로그인</a>
          <a href="/users/register" class="btn btn mb-3">회원가입</a>
        </div>
        <% } %>
  </div>
  <div class="row">

    <% postsFromDB.forEach((post)=> { %>
      <!-- <div class="col-md-6 mb-4"> -->
      <div class="col-12 col-md-6 mb-4">
        <div class="card h-100" style="position: relative;">
          <div class="card-body d-flex flex-column flex-grow-1">

            <div class="d-flex justify-content-between align-items-center mb-2">
              <h5 class="card-title">
                <a href="/posts/<%= post._id %>" class="no-style-link stretched-link"><strong>
                    <%= post.title %>
                  </strong></a>
              </h5>
            </div>

            <p class="card-text truncate-lines">
              <%= post.content.trim() %>
            </p>

            <div class="mt-auto">
              <button class="btn btn-sm btn-outline-danger likeBtn" data-id="<%= post._id %>">Like <span
                  class="likeCount">
                  <%=post.likes %>
                </span></button><br>
            </div>
          </div>
          <div class="card-footer bg-transparent border-top-0 d-flex justify-content-between align-items-center">
            <small class="text-muted">
              작성자:
              <% if (post.author && post.author.userId) { %>
                <strong>
                  <%= post.author.userId %>
                </strong>
                <% } else { %>
                  <strong>알 수 없음</strong>
                  <% } %>
            </small>
            <small class="text-muted">
              <%= post.createdAt.toLocaleString('ko-KR', { timeZone: 'Asia/Seoul' , year: 'numeric' , month: '2-digit' ,
                day: '2-digit' , hour: '2-digit' , minute: '2-digit' , hour12:false}) %>
            </small>
          </div>
        </div>
      </div>
      <% }) %>
  </div>

  <script src="/js/like.js"></script>

  <%- include('../partials/footer', {includeLikeScript: true}) %>